/* Header */
header {
    height: 4rem;
    line-height: 4rem;
    background-color: #222;
    /* color: #FFF; */
    color: hsl(34, 30%, 85%);
    padding-left: 1rem;
    padding-right: 0.5rem;

    /* box-shadow: 0px 1.5px 3px 0.5px rgba(0,0,0,0.6); */
    box-shadow: 0px 1.5px 3px 0.5px hsla(34, 100%, 50%, 0.7);

    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

header h1, header h2 {
    margin: 0;
}

header h1 a {
    text-decoration: none;
    /* color: #FFF; */
    color: hsl(34, 25%, 88%);
}

nav, nav ul, nav ul li, nav ul li a {
	height: 100%;
}

nav ul {
    display: flex;
	list-style: none;
}

nav ul li {
    position: relative;
    background-color: hsla(34, 100%, 50%, 0.6);
    /* height: 100%; */
    margin: 0px 2px;

    transition: background-color 500ms;
    /* transition: all 500ms; */
}

nav ul li:hover {
    background-color: hsl(34, 100%, 50%);
    /* height: 8rem; */
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    padding: 0px 10px;
    display: flex;
	align-items: center;
}

nav ul li .submenu {
    display: none;
    position: absolute;
    flex-direction: column;
}

nav ul li:hover .submenu {
    display: flex;
}

nav ul li .submenu li {
    width: 100%;
}
