@import "./resets.css";
@import "./splash.css";
@import "./header.css";
@import "./section.css";
@import "./gallery.css";

/* ============================================== */
/* Custom CSS */

/* General */
:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    /* background-color: rgba(255, 140, 50, 0.5); */
    background: linear-gradient(0deg, hsla(339, 51%, 47%, 0.2) 0%, hsla(0, 98%, 55%, 0.2) 5%, hsla(51, 97%, 63%, 0.2) 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* .scrolling-box {
    scroll-behavior: smooth;
    display: block;
    overflow-y: scroll;
} */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.1rem;
    margin-top: 1.1rem;
    font-family: 'Lato', sans-serif;
}

footer {
    margin: 2rem 3px 2px 0px;
}
