/* Section */
section {
    margin: 0rem .6rem;
}

section ul {
    padding-left: 15px;
}

#contact ul {
    list-style: none;
}

ul li a img {
    width: 1rem;
    /* position: center; */
}

#social {
    padding-left: 15px;
    padding-top: 8px;
}

/* #social > * {
    vertical-align: center;
} */

#social a {
    text-decoration: none;
}

#social a img {
    width: 2.5rem;
    /* height: 1.5rem; */
    padding: 0px 6px;
}

/* display: flex;
align-items: center; */