/* ===================================================== */
/* Section */
section {
    margin: 0rem .6rem;
    line-height: 1.6;
}

section ul {
    padding-left: 15px;
}

section ul li a img {
    width: 1rem;
    /* position: center; */
}

/* ===================================================== */
/* About */
#info {
    display: flex;
    /* flex-wrap: wrap; */
}

#info .flex-image {
    flex: 0 1 40%;
}

#info img {
    max-width: 100%;
}

#info article {
    flex: 1 1 70%;
    padding: 0px 1.5rem;
    font-size: 1.1rem;
    max-width: 38rem;
}

/* ===================================================== */
/* Contact Info */

#contact ul {
    list-style: none;
}

#social {
    padding-left: 15px;
    padding-top: 8px;
}

/* #social > * {
    vertical-align: center;
} */

#social a {
    text-decoration: none;
}

#social a img {
    width: 2.5rem;
    /* height: 1.5rem; */
    padding: 0px 6px;
}

/* display: flex;
align-items: center; */