/* Splash */
#splash {
    margin: 0;
    height: calc(100vh - 4rem);
    background-image: url("../binaryrain.png");
    /* background-image: url("../circuitboard_robot.jpg"); */
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /* display: none; */
    /* display: flex;
	justify-content: center;
	align-items: center; */
}

#splash h2 {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(50vh);
    
    color: #FFF;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

    background: radial-gradient(circle, rgba(0,0,0,0.6), rgba(0,0,0,0) 25%);
}

/* #splash .overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25)
} */